@use '../../../styles/typography.scss' as *;

.advantageCard{
    max-width: 350px;
    text-align: center;

    @media(max-width:1200px){
        max-width: 690px;
        text-align: left;
    }

    @media(max-width:768px){
        max-width: 327px;
        text-align: center;
    }

    &__img{
        max-width: 202px;
        margin: 0 auto 48px;
        background-image: url(../../../assets/shared/desktop/bg-pattern-small-circle.svg);
        background-repeat: no-repeat;
        background-position: center center;

        @media(max-width:1200px){
            float: left;
            margin-right: 48px;
        }

        @media(max-width:768px){
            float: none;
            margin: 0 auto;
        }
    }

    &__title{
        margin-bottom: 32px;
        @include H3;

        @media(max-width:1200px){
            margin-top: 42px;
            margin-bottom: 16px;
        }
    }
}