@use '../../styles/typography.scss' as *;
@use '../../styles/colors.scss' as *;

.projects{
    position: relative;
    top:-114px;

    @media (max-width:1200px){
        top:0px;
        padding-bottom: 48px !important;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 30px;

        @media (max-width:900px){
            display: block;
        }
    }
}