@use '../../styles/typography.scss' as *;
@use '../../styles/colors.scss' as *;

.projects{
    position: relative;
    top:-114px;

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 30px;
    }
}