@use '../../styles/typography.scss' as *;
@use '../../styles/colors.scss' as *;

.projects{
    margin-top: -114px;
    padding-bottom: 284px;

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 30px;
    }
}