.designCards{
    position: relative;
    top:-308px;
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media(max-width:1150px){
            justify-content: space-evenly;
        }
    }
    @media(max-width:1200px){
        top:0px;
        padding-bottom: 120px;
    }

    @media(max-width:810px){
        padding-bottom: 96px;
    }
}