/*PRIMARY COLORS*/

$peach:rgba(231, 129, 107, 1);
$black:rgba(29, 28, 30, 1);
$white:rgba(255, 255, 255, 1);

/*SECONDARY COLORS*/

$light-peach: rgba(255, 173, 155, 1);
$dark-grey: rgba(51, 49, 54, 1);
$light-grey:rgba(241, 243, 245, 1);