@use '../../styles/colors.scss' as *;
@use '../../styles/typography.scss' as *;


.aboutHeader{
    padding-bottom: 434px;
    background-image: url(../../assets/shared/desktop/bg-pattern-leaf.svg);
    background-repeat: no-repeat;
    background-position: bottom left;

    @media(max-width:768px){
        padding-bottom: 0px;
    }

    .container{
        display: flex;
        background-color: $peach;
        background-image: url(../../assets/about/desktop/bg-pattern-hero-about-desktop.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        border-radius: 15px;
        overflow: hidden;

        @media(max-width:900px){
            flex-direction: column;
            text-align: center;
        }

        @media(max-width:768px){
            border-radius: 0px;
        }
       
    }

    &-contact{
        padding-bottom:0px;
        background-image: none;

        @media(max-width:950px){
            .aboutHeader__content{
                padding: 135px 30px 135px 55px;
            }
        }

        @media(max-width:900px){
            .aboutHeader__content{
                padding-bottom: 0px;
            }
        }
    }

    &__content{
        padding: 135px 30px 135px 95px;
        max-width: 635px;

        @media(max-width:900px){
            order: 2;
            padding: 64px 58px;
            margin: 0 auto;
        }

        @media(max-width:768px){
            padding: 80px 24px;
        }
    }

    &__title{
        margin-bottom: 32px;
        @include H1;
        color: $white;
    }

    &__text{
        color: $white;
    }

    &__image{
        min-width: 43%;

        @media(max-width:900px){
            order: 1;
        }

        @media(max-width:768px){
            max-height: 320px;
        }

        img{
            object-fit: cover;
        }
    }

}