@use '../../styles/typography.scss' as *;
@use '../../styles/colors.scss' as *;

.nav{
    padding: 64px 0;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        height: 24px;
    }

    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 42px;
        @include Nav;

        &-dark{
            color:$white;
        }
    }

    &__link{
        text-decoration: underline $white;
        transition: text-decoration 0.4s ease-in;

        &-dark{
            text-decoration: underline $black;
        }

        &:hover{
            text-decoration: underline $black;
        }

        &-dark:hover{
            text-decoration: underline $white;
        }
    }

    

}