@use '../../../styles/colors.scss' as *;
@use '../../../styles/typography.scss' as *;

.locationCard{
    display: flex;
    gap: 30px;

    @media (max-width:1080px){
        flex-wrap: wrap;
        gap: 24px;
    }

    @media (max-width:768px){
        gap: 0px;
    }

    &-revers{
        flex-direction: row-reverse;
    }

    &__info{
        max-width: 730px;
        flex-grow: 1;
        padding: 88px 95px;
        background-color: $very-light-peach;
        background-image: url(../../../assets/shared/desktop/bg-pattern-two-circles.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        border-radius: 15px;

        @media (max-width:1080px){
            min-width: 100%;
        }

        @media (max-width:768px){
            padding: 80px 24px;
            text-align: center;
            background-repeat: repeat;
            background-position: top left;
            border-radius: 0px;
            order:2;
        }

    }

    &__map{
        max-width: 350px;
        min-height: 326px;
        min-width: 350px;
        border-radius: 15px;
        overflow: hidden;

        @media (max-width:1080px){
            min-width: 100%;
            max-height: 326px;

            img{
                object-fit: cover;
            }
        }

        @media (max-width:768px){
            order:1;
            border-radius: 0px;
        }
    }

    &__title{
        @include H2;
        color: $peach;
    }

    &__content{
        display: flex;
        gap: 80px;

        @media (max-width:768px){
            display: block;
        }
    }

    &__office,
    &__contacts{
        margin-top: 24px;

        li:first-of-type{
            font-weight: 700;
        }
    }
}