@use '../../styles/colors.scss' as *;
@use '../../styles/typography.scss' as *;

.form{
    min-width: 380px;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .btn{
        align-self: flex-end;
    }

    input,
    textarea{
        padding:0px 16px 11px;
        background-color: inherit;
        outline: none;
        border: none;
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 15px;
    }

    &__textarea{
        flex-grow: 1;
        resize: none;
    }
}