@use '../../styles/typography.scss' as *;
@use '../../styles/colors.scss' as *;

.header{
    position: relative;
    background-color: $peach;
    background-image: url(../../assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: right top;
    color:$white;
    padding:145px 95px;
    border-radius: 15px;
    overflow: hidden;

    &__content{
        max-width: 540px
    }

    &__title{
        @include H1;
        color:$white;
    }

    &__text{
        margin: 40px 0px;
        max-width: 440px;
    }

    &__img{
        position: absolute;
        top: -20px;
        right: 0;
        /*
        object-fit: contain;
        width: 284px;
        height: 573px;
        */
    }
}
