@use '../../styles/colors.scss' as *;
@use '../../styles/typography.scss' as *;

.talk{
    position: relative;
    bottom: -72px;

    .container{
        padding: 72px 95px 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $peach;
        background-image: url(../../assets/shared/desktop/bg-pattern-call-to-action.svg);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 15px;

        @media(max-width:1200px){
            flex-direction: column;
            text-align: center;
        }

    }

    &__info{
        max-width: 460px;
    }

    &__title{
        max-width: 270px;
        @include H2;
        color:$white;
        letter-spacing: normal;

        @media(max-width:1200px){
            margin: 0 auto;
        }
    }

    &__text{
        margin-top: 20px;
        color:$white;

        @media(max-width:1200px){
            margin-bottom: 32px;
        }
    }
}