@use '../../styles/colors.scss' as *;
@use '../../styles/typography.scss' as *;

.aboutInfo{
    position: relative;
    top: -274px;
   

    .container{
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        background-color: $very-light-peach;
        background-image: url(../../assets/shared/desktop/bg-pattern-two-circles.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    &-revers{
        top: -88px;
        
        .container{
            flex-direction: row-reverse;
            background-position: bottom left;
        }
       
    }

    &__content{
        max-width: 635px;
        padding: 154px 96px 94px;
    }

    &__title{
        @include H2;
        color: $peach;
    }

    &__text{
        margin-top: 24px;
    }
}