@use '../../../styles/colors.scss' as *;
@use '../../../styles/typography.scss' as *;

.talk{
    padding: 72px 95px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $peach;
    background-image: url(../../../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 15px;

    &__info{
        max-width: 460px;
    }

    &__title{
        max-width: 270px;
        @include H2;
        color:$white;
        letter-spacing: normal;
    }

    &__text{
        margin-top: 20px;
        color:$white;
    }
}