@use '../node_modules/normalize.css/normalize.css';
@use './styles/colors.scss' as *;
@use './styles/typografy.scss' as *;

*{
  box-sizing: border-box;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}
body{
 @include Body;
}